*{box-sizing: border-box;
padding: 0;
margin: 0;}


header{height: 90px;
    background-color: rgba(74, 70, 70, 0.755);



}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 960px;
    align-items: center;
    padding-right:-200px;
    padding-top: 10px;
    padding-left: 275px;
}

header nav{
    display: flex;
    justify-content: center;
    width: 960px;

}

header nav li a{
    display: flex;
    font-size: 20px;
margin:0 30px;
color: white;


}
/* header img {
    width: 200px;
    height: 70px;
} */



/* header>div{
display: flex;
width: 960px;
align-items: center;
} */

/* header>div div {color: white;
font-size: 20px;
margin:0 30px;} */


main {width: 960px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;

}

main div:nth-child(1){
    margin-bottom: 30px;
}

main div:nth-child(2){margin-right: 30px;}
main div:nth-child(3){margin-right: 30px;}
main div:nth-child(5){margin-right: 30px;
    margin-top: 30px;
}
main div:nth-child(6){margin-top: 30px;
width:440px;
}
main div:nth-child(6) p{
    height: 300px;
    
}

main div:nth-child(6) p{
    overflow:scroll;

}
main div:nth-child(6) ::-webkit-scrollbar{
    display: none;
}
    
    main div:nth-child(6) button{height: 40px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 10px;}

footer{ background-color: rgba(74, 70, 70, 0.755);
height: 90px;}